.group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}

.list {
  composes: group;
  margin: 0;
  padding: 0 16px 0 0;
  list-style-type: none;
  overflow-y: auto;
  min-height: 464px;
  max-height: 464px;
  max-width: 582px;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}

.list::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.bun {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #2f2f37;
  color: #f2f2f3;
  font-size: 20px;
  max-width: 535px;
  min-height: 80px;
  width: 100%;
  margin-right: 16px;
}

.bun-constructor-element {
  margin-right: 16px;
}

.bun-top {
  border-radius: 88px 88px 40px 40px;
}

.bun-bottom {
  border-radius:  40px 40px 88px 88px;
}

.empty-list {
  margin: 0 16px 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #f2f2f3;
  min-height: 464px;
  background: #2f2f37;
  border-radius: 40px ;
  font-size: 20px;
  max-width: 535px;
  width: 100%;
}
