.page-layout {
    max-width: 480px;
    margin: 180px auto;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.title {
    margin: 0;
}

.redirect {
    composes: row;
}

.link {
    margin-left: 8px;
    color: #4C4CFF;
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    opacity: .75;
}